body{
    text-align: center; 
    background-color: black;
    color: white; 
    window.alert("Intrested in seeing more?";
   )
}

h4 {
    border-style: dotted;
    border-width: 2
    
}

h1 {
    font-family: 'Audiowide', cursive;
}

